{% extends 'base.html' %}

{% block title %}
Login
{% endblock title %}

{% block content %}
    <div>
        <h1>
            Login
        </h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
        </form>
    </div>
{% endblock content %}