{% extends 'base.html' %}

{% block title %}
My tasks
{% endblock title %}

{% block content %}
        <div>
            <h1>
                My Tasks
            </h1>
            {% if tasks %}
            <table>
                <thead>
                    <tr>
                        <td>
                            Name
                        </td>
                        <td>
                            Start Date
                        </td>
                        <td>
                            Start date
                        </td>
                        <td>
                            Due date
                        </td>
                        <td>
                            Is completed
                        </td>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                    <tr>
                        <td>
                            {{ task.name }}
                        </td>
                        <td>
                            {{ task.assignee }}
                        </td>
                        <td>
                            {{ task.start_date }}
                        </td>
                        <td>
                            {{ task.due_date }}
                        </td>
                        <td>
                            {{ task.is_completed|yesno }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>This project has no tasks</p>
            {% endif %}
{% endblock content %}