{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/recipes.css' %}" />
    <title>
        {% block title %}{% endblock title %}
    </title>
</head>

<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url "show_my_tasks" %}">My Tasks</a>
                </li>
                <li>
                    <a href="{% url "list_projects" %}">My Projects</a>
                </li>
                <li>
                    <a href="{% url "logout" %}">Logout</a>
                </li>
                    {% else %}
                <li>
                    <a href="{% url "login" %}">Log In</a>
                </li>                
                <li>
                    <a href="{% url "signup" %}">Sign Up</a>
                </li>
                {% endif %}
            </ul>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %} {% endblock content %}
    </main>
</body>

</html>