{% extends 'base.html' %}

{% block title %}
{{ tasks.project.name }}
{% endblock title %}

{% block content %}
<div>
    <h1>{{ tasks.project.name }}</h1>
    <p>{{ tasks.project.description }}</p>
    <h2>Tasks</h2>
    {% if project.tasks %}
    <table>
        <thead>
            <tr>
                <td>
                    Name
                </td>
                <td>
                    Assignee
                </td>
                <td>
                    Start date
                </td>
                <td>
                    Due date
                </td>
                <td>
                    Is completed
                </td>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>
                    {{ task.name }}
                </td>
                <td>
                    {{ task.assignee }}
                </td>
                <td>
                    {{ task.start_date }}
                </td>
                <td>
                    {{ task.due_date }}
                </td>
                <td>
                    {{ task.is_completed|yesno }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>This project has no tasks</p>
    {% endif %}
</div>
{% endblock content %}