{% extends 'base.html' %}

{% block title %}
{{ project.name }}
{% endblock title %}

{% block content %}
<div>
    <h1>{{ project.name }}</h1>
    <p>{{ project.description }}</p>
    <h2>Tasks</h2>
    {% if  %}{% endif %}
</div>
{% endblock content %}