{% extends 'base.html' %}

{% block title %}
{{ tasks.project.name }}
{% endblock title %}

{% block content %}
<div>
    <h1>{{ tasks.roject.name }}</h1>
    <p>{{ project.description }}</p>
    <h2>Tasks</h2>
    {% if project.task %}{% endif %}
</div>
{% endblock content %}