{% extends 'base.html' %}

{% block title %}
{{ task.project.name }}
{% endblock title %}

{% block content %}
<div>
    <h1> {{ task.project.name }}</h1>
    <p>{{ task.project.description }}</p>
    <h2>Tasks</h2>
    {% comment %} <table>
        <thead>
            <tr>
                <td>Vendor</td>
                <td>Total</td>
                <td>Tax</td>
                <td>Date</td>
                <td>Category</td>
                <td>Account</td>
            </tr>
        </thead>
        <tbody>
            {% for data in receipt %}
            <tr>
                <td> {{ data.vendor }} </td>
                <td> {{ data.total }} </td>
                <td> {{ data.tax }} </td>
                <td> {{ data.date|date:"m/d/y" }} </td>
                <td> {{ data.category.name }} </td>
                <td> {{ data.account.name }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table> {% endcomment %}
</div>
{% endblock content %}