{% extends 'base.html' %}

{% block title %}
{{ tasks.project.name }}
{% endblock title %}

{% block content %}
<div>
    <h1>{{ tasks.project.name }}</h1>
    <p>{{ tasks.project.description }}</p>
    <h2>Tasks</h2>
    {% if project.task %}
    <table>
        <thead>
            <tr>
                <td>
                    Name
                </td>
                <td>
                    Assignee
                </td>
                <td>
                    Start date
                </td>
                <td>
                    Due date
                </td>
                <td>
                    Is completed
                </td>
            </tr>
        </thead>
        <tbody>
            t
        </tbody>
    </table>
    {% else %}
    <p>This project has no tasks</p>
    {% endif %}
</div>
{% endblock content %}