{% extends 'base.html' %}

{% block title %}
{{ tasks.project.name }}
{% endblock title %}

{% block content %}
<div>
    <h1>{{ tasks.project.name }}</h1>
    <p>{{ tasks.project.description }}</p>
    <h2>Tasks</h2>
    {% if project.task %}
    
    {% else %}
    <p>This project has no</p>
    {% endif %}
</div>
{% endblock content %}