{% extends 'base.html' %}

{% block title %}
Projects
{% endblock title %}

{% block content %}
<div>
    <h1>My Projects</h1>
    {% if not projects %}
    <p>
        You are not assigned to any projects
    </p>
    {% else %}
    <table>
        <thead>
            <tr>
                <td>
                    Name
                </td>
                <td>
                    Number of tasks
                </td>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
            <tr>
                <td> <a href="{% url "show_project" project.id %}">{{ project.name }} </a></td>
                <td>
                    {{ project.tasks.all}}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock content %}