{% extends 'base.html' %}

{% block title %}
Projects
{% endblock title %}

{% block content %}
<div>
    <h1>My Projects</h1>
    {% if not projects %}
    <p>
        You are not assigned to any projects
    </p>
    {% else %}
    {% endif %}
</div>
{% endblock content %}