{% extends 'base.html' %}

{% block title %}
Projects
{% endblock title %}

{% block content %}
<div>
    <h1>My Projects</h1>
    {% if not projects %}
    
    {% endif %}
</div>
{% endblock content %}